<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangqianyuan.teamwork.lostandfound">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".view.application.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/diai"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/diai"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ForgetPasswordActivity"></activity>
        <activity android:name=".view.activity.BufferPageActivity" />

        <service
            android:name=".services.UpdateMessageService"
            android:icon="@mipmap/diai" />

        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.VerifyActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.ThingDetailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.activity.UserInfoSettingActivity"
            android:label="@string/editInfo" />
        <activity android:name=".view.activity.UploadActivity" />
        <activity android:name=".view.activity.UserInfoMyHistory" />
        <activity android:name=".view.activity.UploadFormActivity" />
        <activity
            android:name=".view.activity.UserInfoAboutUsActivity"
            android:label="" />
        <activity
            android:name=".view.activity.UserInfoMyUpload"
            android:label="我的发布" /> <!-- <activity android:name=".view.activity.UserSettingEditInfoActivity" /> -->
        <activity android:name=".view.activity.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.UploadSuccessActivity" />
        <activity android:name=".view.activity.ChangeNickNameActivity" />
        <activity android:name=".view.activity.ChangePhoneActivty" /> <!-- <activity android:name=".view.activity.ChangePasswordsActivity"></activity> -->
        <activity android:name=".view.activity.AboutUsDetailActivity" />
        <activity android:name=".view.activity.AboutDiAi" />
        <activity android:name=".view.activity.OurWebActivity" />
        <activity android:name=".view.activity.GuideActivity" />
        <activity android:name=".view.activity.ReturnActivity" />
        <activity android:name=".view.activity.FoundActivity" />
    </application>

</manifest>